* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif;
  background-color: #ebc7e8;
  font-family: "Poppins", sans-serif;
}

#app {
  background-color: #bface0;
}

nav {
  background-color: #bface0;
}

ul {
  text-align: right;
  padding: 1rem;
  background-color: #bface0;
}

li {
  display: inline;
  padding-right: 1rem;
}

a {
  text-decoration: none;
}

h2 {
  padding: 1rem;
}

.main-container {
  padding: 1rem;
}

.container {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

input {
  padding: 0.5rem;
  color: #645caa;
  border: 2px solid #ebc7e8;
  border-radius: 5px;
}

label {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  color: #645caa;
}

button {
  width: 75%;
  background-color: #ebc7e8;
  border: none;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 2rem;
  color: #645caa;
  font-family: "Poppins";
  cursor: pointer;
  border: 1px solid #645caa;
}
